@page "/OrderConfirmation"

<div class="container">
    @if (IsProcessing)
    {
        <div class="text-center">
            <img src="/images/loading.gif" />
        </div>
    }
    else
    {
        <div class="row mt-4 pt-4">
            <div class="col-10 offset-1 text-center">
                <h2 class="text-success">Order Confirmed</h2>
                <p>Your order has been placed successfully with order id : @Order.Order.Id</p>
            </div>
            <div class="col-8 offset-2">
                <img src="/images/confirmation.jpg" width="100%" style="border-radius:30px;" />
            </div>
        </div>
    }
</div>


@code {
    private bool IsProcessing { get; set; } = false;
    private CustomOrderDTO Order { get; set; }
}