@page "/bindproperties"

<h3>Product</h3>
Name: @product.Name <br />
IsActive: @product.IsActive

@code {
    Product product = new()
    {
        Id = 1,
        Name = "Product 1",
        IsActive = true
    };
}