@page "/js"
@inject IJSRuntime _JSRuntime

<h3>JSComponent</h3>

<button type="button" class="btn btn-danger" name="BtnJSConfirmation" id="BtnJSConfirmation" @onclick="ShowJSConfirmation">Show JS Confirmation</button>
<button type="button" class="btn btn-success" name="BtnSuccess" id="BtnSuccess" @onclick="ShowSuccessNotification">Show Success Toastr</button>
<button type="button" class="btn btn-warning" name="BtnFailure" id="BtnFailure" @onclick="ShowFailureNotification">Show Failure Toastr</button>


@if(response){
    <p>Confirmation has been made.</p>
}
else
{
    <p>Confirmation pending</p>
}

@code {
    private string message = "are you sure you want to perform this action?";
    private bool response;

    private async Task ShowJSConfirmation(){
        response = await _JSRuntime.InvokeAsync<bool>("confirm", message);
    }

    private async void ShowSuccessNotification()
    {
        await _JSRuntime.ShowSuccessToastrNotification("Operation Successful");
    }

    private async void ShowFailureNotification()
    {
        await _JSRuntime.ShowFailureToastrNotification("Operation Failed");
    }   
}
