@page "/productDemo"
<h3>Product Demo</h3>
<p>Favourites Total: @FavouriteCount</p>
<p>Last Selected Product: @LastSelectedProduct?.Name</p>
<div class="row">
    @foreach (var product in Products)
    {
        <_ProductDemo product="@product" OnFavouriteSelection="FavouriteCountUpdate" OnProductSelection="ShowSelectedProduct">
            <FirstFragment><p>#1</p></FirstFragment>
            <SecondFragment><p>#2</p></SecondFragment>
        </_ProductDemo>
    }
</div>

@code {
    List<DummyProduct> Products = new();
    private int FavouriteCount { get; set; }
    private DummyProduct LastSelectedProduct { get; set; } = new();
    protected override void OnInitialized()
    {
        Products.Add(new()
            {
                Id = 1,
                Name = "Product 1",
                IsActive = true,
                Price = 9.99,
                Attributes = new List<ProductProperties>()
                {
                    new ProductProperties () { Id = 1, Key="Color", Value = "Product 1 Color" },
                    new ProductProperties () { Id = 2, Key="Size", Value = "Product 1 Size" },
                }
            }
        );

        Products.Add(new()
            {
                Id = 2,
                Name = "Product 2",
                IsActive = false,
                Price = 19.99,
                Attributes = new List<ProductProperties>()
                {
                    new ProductProperties () { Id = 1, Key="Color", Value = "Product 2 Color" },
                    new ProductProperties () { Id = 2, Key="Size", Value = "Product 2 Size" },
                }
            }
        );
    }

    protected void FavouriteCountUpdate(bool IsSelected)
    {
        if (IsSelected)
        {
            FavouriteCount++;
        }
        else
        {
            FavouriteCount--;
        }
    }

    protected void ShowSelectedProduct(string name)
    {
        LastSelectedProduct.Name = name;
    }
}