@page "/category"
@inject ICategoryRepository _categoryRepository

<div class="row mt-4">
    <div class="col-4">
        <h4 class="card-title text-primary">Category List</h4> 
    </div>
    <div class="col-5 offset-2">
        <a href="/category/create" class="btn btn-primary form-control">Add New Category</a>
    </div>
    <div class="col-12">
        @if(Categories.Count() > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Categories)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <NavLink class="btn btn-primary" href="@($"/category/edit/{item.Id}")">Edit</NavLink>
                                <NavLink class="btn btn-danger" href="/category/delete">Delete</NavLink>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            @if(IsLoading)
            {
                <div class="text-center">
                    <img src="images/loading.gif" />
                </div>
            }
            else
            {
                <div>
                    <p>No records found.</p>
                </div>
            }
        }
    </div>
</div>

@code {
    private IEnumerable<CategoryDTO> Categories { get; set; } = new List<CategoryDTO>();
    private bool IsLoading { get; set; } = true;
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadCategories);
    }

    private void LoadCategories()
    {
        Categories = _categoryRepository.GetAll();
        IsLoading = false;
    }
}
