<div id="deleteConfirmationModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Delete Confirmation</h5>
                <button type="button" class="close" @onclick="() => OnDeleteConfirmation(false)" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                @if (IsProcessingInProgress)
                {
                    <button type="button" class="btn btn-secondary" disabled>Close</button>
                    <button type="button" class="btn btn-danger" disabled>Processing Delete .....</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" @onclick="() => OnDeleteConfirmation(false)">Close</button>
                    <button type="button" class="btn btn-danger" @onclick="() => OnDeleteConfirmation(true)">Delete</button>    
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> DeleteCallback { get; set; }

    [Parameter]
    public bool IsProcessingInProgress { get; set; }

    private async Task OnDeleteConfirmation(bool value)
    {
        await DeleteCallback.InvokeAsync(value);
    }
}
