@if (IsActive)
{
    <div>
        <button type="button" name="BtnDelete" id="BtnDelete" class="btn-danger">Delete</button>
        <button type="button" name="BtnEdit" id="BtnEdit" class="btn-success">Edit</button>
    </div>
}

@code {
    [Parameter]
    public bool IsActive { get; set; }
}
